In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [16]:
df = pd.read_csv('../Estudo_Covid/Dados-covid-19-municipios.csv',)

In [17]:
df.head(1)

   Cod_IBGE Grande região   Município  Mun_Total de casos  Mun_Total de óbitos
0   3500105      Interior  Adamantina                3421                  110

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cod_IBGE             645 non-null    int64
 1   Grande região        645 non-null    object
 2   Município            645 non-null    object
 3   Mun_Total de casos   645 non-null    int64
 4   Mun_Total de óbitos  645 non-null    int64
dtypes: int64(3), object(2)
memory usage: 25.3+ KB

In [19]:
array_cidades = df['Município'].values
array_mortes = df['Mun_Total de óbitos'].values
array_regiao = df['Grande região'].values
array_casos = df['Mun_Total de casos'].values

soma_mortes = df['Mun_Total de óbitos'].sum()
soma_casos = df['Mun_Total de casos'].sum()

#Total de casos de covid no Estado de São Paulo até 04 de Julho de 2021

In [20]:
soma_casos

3789155

#Total de mortes por covid no Estado de São Paulo até 04 de Julho de 2021

In [21]:
soma_mortes

129675

#Letalidade COVID no Estado de São Paulo até 04 de Julho de 2021

In [22]:
soma_mortes/soma_casos*100

3.4222669698125303

#Quais as 5 cidades com mais mortes por Covid no Estado de SP?

In [23]:
df.sort_values(['Mun_Total de óbitos'], ascending=False).head(5)

,Cod_IBGE,Grande região,Município,Mun_Total de casos,Mun_Total de óbitos
562,3550308,Capital,São Paulo,863581,33820
212,3518800,RMSP (exceto capital),Guarulhos,58251,4381
108,3509502,Interior,Campinas,95793,3791
544,3548708,RMSP (exceto capital),São Bernardo do Campo,67630,2929
534,3547809,RMSP (exceto capital),Santo André,58648,2768

#Quais as 5 cidades com mais casos por Covid no Estado de SP?

In [24]:
df.sort_values(['Mun_Total de casos'], ascending=False).head(5)

,Cod_IBGE,Grande região,Município,Mun_Total de casos,Mun_Total de óbitos
562,3550308,Capital,São Paulo,863581,33820
108,3509502,Interior,Campinas,95793,3791
556,3549805,Interior,São José do Rio Preto,85414,2504
557,3549904,Interior,São José dos Campos,83105,1747
487,3543402,Interior,Ribeirão Preto,68353,2576

#Casos, Mortes e Letalidade por Cidade

In [25]:
i = 0
nome_cidade = 'Osasco'

print(" Cidade "," Casos "," Mortes "," Letalidade ")

while i < array_cidades.size:  
  if nome_cidade == array_cidades[i]:
    print(array_cidades[i],'|', array_casos[i],'|',array_mortes[i],'|',array_mortes[i]/array_casos[i]*100)
  i += 1

 Cidade   Casos   Mortes   Letalidade
Osasco | 40058 | 2306 | 5.756652853362624

#Total de mortes agrupados por região

In [26]:
df.groupby('Grande região')[['Mun_Total de óbitos']].sum().sort_values(['Mun_Total de óbitos'], ascending=False).head(5)

                       Mun_Total de óbitos
Grande região
Interior                             67515
Capital                              33820
RMSP (exceto capital)                28340

#Total de casos agrupados por região

In [27]:
df.groupby('Grande região')[['Mun_Total de casos']].sum().sort_values(['Mun_Total de casos'], ascending=False).head(5)

                       Mun_Total de casos
Grande região
Interior                          2330193
Capital                            863581
RMSP (exceto capital)              595381